{% extends 'website/base.html' %}
{% block content %}
    <div class="content-page container">
        <h3>Additional Project Details</h3>
        <h5>Walkthrough Video</h5>
        <p>(...coming soon)</p>
        <h5>GitHub Repository</h5>
        <p>All code for data collection, cleaning, and modeling as well as for our Django and Dash applications is available in our GitHub repository. The README also includes instructions for running all code locally.</p>
        <a href="https://github.com/rachwyatt/capstone-project" target="_blank">https://github.com/rachwyatt/capstone-project</a>
    </div>
{% endblock %}