{% extends 'website/base.html' %}
{% block content %}
    <div class="content-page container">
        <h3>Our Project Team</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="static/img/laiya.png" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Laiya Lubben</h4>
                        Laiya recently obtained her master’s in Applied Data Science from University of Michigan. Before that,
                        she earned a bachelor’s in Accounting from Davenport University. After working a few years as a
                        financial analyst, she discovered her great passion for data. She chose to study data science because
                        it gives her the opportunity to enjoy working with data in various domains. She looks forward to
                        applying her newly obtained analytical and data modelling skills to solve real world business problems.
                        <br>
                        Email: <a href="mailto:llubben@umich.edu">llubben@umich.edu</a>
                        <br>
                        LinkedIn: <a href="https://www.linkedin.com/in/laiya-lubben-7b2168119/">
                        https://www.linkedin.com/in/laiya-lubben-7b2168119/</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card team-member">
                    <img src="static/img/rachel.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Rachel Wyatt</h4>
                        Rachel works as a data manager for the University of Michigan School of Public Health’s Prevention
                        Research Center. She earned a bachelor’s in Computer Science from Kettering University in 2019 and a
                        master’s in Applied Data Science from the University of Michigan in 2021. She is passionate about using
                        data science for research that helps her community with a focus on geospatial analysis in areas such as
                        crime prevention and community improvement.
                        <br>
                        Email: <a href="mailto:wyattra@umich.edu">wyattra@umich.edu</a>
                        <br>
                        LinkedIn: <a href="https://www.linkedin.com/in/rachel-wyatt23/">
                        https://www.linkedin.com/in/rachel-wyatt23/</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card team-member">
                    <img src="static/img/ai.png" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Ai Zhong</h4>
                        Ai Zhong graduated from University of Michigan with a Master degree in Applied Data Science in the year
                        2021. She previously worked as a data scientist in a start-up company in San Francisco for 2 years, and
                        she has a master degree in geotechnical engineering from UCLA before that. Her bachelor degree is civil
                        engineering from Nanyang Technological University in Singapore. Her major interest in data science is
                        natural language processing and she’s been working with text data since the beginning of the data
                        science career.
                        <br>
                        Email: <a href="mailto:aizhong@umich.edu">aizhong@umich.edu</a>
                        <br>
                        LinkedIn: <a href="https://www.linkedin.com/in/aizhong/">
                        https://www.linkedin.com/in/aizhong/</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}