{% extends 'website/base.html' %}
{% block content %}
    <div class='container content-page'>
        <h3>Our Project Team</h3>
        <div class='team-member'>
            <h5>Laiya Lubben</h5>
            <p>Bio, linkedin, etc.</p>
        </div>
        <div class='team-member'>
            <h5>Rachel Wyatt</h5>
            <p>Bio, linkedin, etc.</p>
        </div>
        <div class='team-member'>
            <h5>Ai Zhong</h5>
            <p>Bio, linkedin, etc.</p>
        </div>
    </div>
{% endblock %}