.page-header {
    background-color: #636EFA;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 20px 20px 20px 60px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h2,
h3,
h4 {
    color: #3b3d3d;
    padding-bottom: 10px;
}

.navbar {
    background-color: #475B5A;
    padding-left: 60px;
}

.navbar a,
.navbar a:visited,
.navbar a:active {
    color: #ffffff;
}

.navbar a {
    margin-right: 25px;
}

.iframe {
    margin-top: 0px;
    padding-top: 0px;
}

.site-content {
    margin-top: 30px;
    padding-left: 60px;
}