.page-header {
    background-color: #636EFA;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 20px 100px 20px 100px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h2,
h3,
h4 {
    color: #3b3d3d;
    padding-bottom: 10px;
}

.navbar {
    padding: 0px 100px 0px 100px;
}

.navbar a,
.navbar a:visited,
.navbar a:active {
    color: #ffffff;
}

.navbar a {
    margin-right: 25px;
}

.content-page {
    background: #FFFFFF;
    padding-top: 20px;
}

.dashboard-page {
    background: #F2F2F2;
}

.team-member {
    margin: 10px;
}

img {
    margin-right: 15px;
}
