{% extends 'website/base.html' %}
{% block content %}
    <div class="content-page container">
        <h3>Additional Project Details</h3>
        <h5>Walkthrough Video</h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <iframe src="https://drive.google.com/file/d/1fsdWbLa4ohJMaCBX1tD0-lUkv1XS3JzT/preview" width="550" height="275" frameborder="0" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
        <h5>GitHub Repository</h5>
        <p>All code for data collection, cleaning, and modeling as well as for our Django and Dash applications is available in our GitHub repository. Feel free to explore the additional models that we tried on the data but did not use for the dashboard or expand upon in the blog post. The code for those models is located in the <code>model_notebooks</code> directory. The README also includes instructions for running all code locally.</p>
        <a href="https://github.com/rachwyatt/capstone-project" target="_blank">https://github.com/rachwyatt/capstone-project</a>
    </div>
{% endblock %}